.button {
    width: 100%;
    padding: 12px 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition: opacity ease-in 0.3s;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}