.message {
    display: flex;
    min-width: 100px;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;

    border-radius: 6px;
}

.name {
    margin-bottom: 5px;
    font-weight: 600;
}

.default {
    background-color: #F2F2F7;
    color: black;
}

.blue {
    color: white;
    background-color: var(--main-color);
}